body a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Archivo Black', sans-serif;
}

p {
  font-family: 'Tenor Sans', sans-serif;
}

.header {
  padding: 50px;
}

.header-img {
  padding-bottom: 35px;
}

.cards-space {
  padding: 10px;
}

.card:hover {
  color:yellow;
}
