body a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Archivo Black', sans-serif;
}

p {
  font-family: 'Tenor Sans', sans-serif;
}

/* CARDS*/

.cards-space {
  padding: 10px;
}

.wrapper-cards {
  padding-bottom: 60px;
  padding-top: 60px;
  a {
    color: #F8BA3F;
  }
  a:hover {
    color: #41D3BD;
  }
}

.card-bars {
  background-image: url('http://res.cloudinary.com/pdcst/image/upload/v1515606362/bars_o9mjd3.png');
  background-size: cover;
}

.card-restaurants {
  background-image: url('http://res.cloudinary.com/pdcst/image/upload/v1515606362/Restaurants_c6opuf.png');
  background-size: cover;
}

.card-hotels {
  background-image: url('http://res.cloudinary.com/pdcst/image/upload/v1515606362/hotels_du4gwa.png');
  background-size: cover;
}

.card-soins {
  background-image: url('http://res.cloudinary.com/pdcst/image/upload/v1515606362/Soins_lfpt58.png');
  background-size: cover;
}

.card-coworking {
  background-image: url('http://res.cloudinary.com/pdcst/image/upload/v1515606362/Coworking_mk9cyf.png');
  background-size: cover;
}

.card-autres {
  background-image: url('http://res.cloudinary.com/pdcst/image/upload/v1515606362/Autres_v2eaw1.png');
  background-size: cover;
}

/*SEARCH - BAR*/
.header-search {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 3px;
}

.search-bar {
  display: flex;
  box-shadow: 2px 1px 13px -4px #f8ba3f;
  padding: 2px;
}

.input-search {
  width: 700px;
  height: 45px;
  border: none;
}

.input-search:focus {
  outline: none;
}

.btn-search {
  background-color: #F8BA3F;
  width: 110px;
  height: 45px;
  color: white;
  border-radius: 3px;
}

.search-icon {
  padding: 4px;
  font-size: 25px;
  color: cornsilk;
}


/* MAP */

.wrapper-map {
  padding-bottom: 60px;
}

/* HOW TO */

.how-to-content {
  display: flex;
}
