<div class="footer-content">
  <div class="footer-left">
    <p>
      Je suis un footer qui ne sera jamais au top
    </p>
  </div>
  <div class="footer-right">
    <p>
      ...Patience...
    </p>
  </div>
</div>
