<div class="wrapper-contact">
  <div class="contact-content">
    <h1>Site créé par :</h1>
    <p><%= link_to "François Rabanel", "https://www.linkedin.com/in/francoisrabanel/", target: "_blank" %></p>
  </div>
</div>
