.footer-content {
  background-color: #fabb2d;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  padding: 15px 0px;
  padding-left: 80px;
  ul {
    padding-left: 0px;
    @media (min-width: 300px) and (max-width: 700px) {
      padding-left: 0px;
    }
  }
  a {
    text-decoration: none;
    color: white
  }
  a:hover {
    text-decoration: none;
    color: #41D3BD;
  }
  li {
    list-style: none;
  }
  @media (min-width: 300px) and (max-width: 700px) {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
}

.footer-left {
  width: 372px;
  padding-right: 50px;
  @media (min-width: 300px) and (max-width: 700px) {
    width: 250px;
    text-align: center;
    padding-top: 15px;
    padding-right: unset;
  }
}

.footer-right {
  padding-left: 50px;
  padding-right: 50px;
  @media (min-width: 300px) and (max-width: 700px) {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}

.footer-middle {
  @media (min-width: 300px) and (max-width: 700px) {
    text-align: center;
    padding-top: 10px;
  }
}


.made-by {
  position: relative;
  width: 160px;
  i {
    color: red;
  }
}


.made-by-content {

}
