.footer-content {
  background-color: #fabb2d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  a {
    text-decoration: none;
    color: white
  }
  a:hover {
    text-decoration: none;
    color: green;
  }
  li {
    list-style: none;
  }
}

.footer-left {
  padding: 50px;
  width: 372px;
}

.footer-right {
  padding: 50px;
}


.made-by {
  position: relative;
  width: 160px;
  height: 190px;
  i {
    color: red;
  }
}


.made-by-content {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
