.footer-content {
  background-color: #fabb2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  a {
    text-decoration: none;
    color: white
  }
  a:hover {
    text-decoration: none;
    color: green;
  }
}

.footer-left {
  padding: 50px;
}

.footer-right {
  padding: 50px;
}
