/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: #fabb2d;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  @media (min-width: 300px) and (max-width: 880px) {
    flex-wrap: wrap;
    height: unset;
    padding: 0px;
  }
  a {
    color: white;
    font-size: 15px;
    @media (min-width: 300px) and (max-width: 880px) {
      margin-top: 15px;
    }
  }
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  @media (min-width: 300px) and (max-width: 880px) {
    margin-left: 10px;
  }
}

/* CRYPTOS */

.cryptos {
  padding-top: 17px;
  li {
    display: inline;
    text-decoration: none;
  }
  .fa-long-arrow-alt-down {
    color: red;
  }
  .fa-long-arrow-alt-up {
    color: green;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

/* Right section */
.connection {
  display: flex;
  align-items: center;
  position: absolute;
  right: 24px;
  @media (min-width: 300px) and (max-width: 880px) {
    right: unset;
    position: unset;
    padding-left: 2px;
    margin-top: 5px;
  }
  a {
    padding-left: 10px;
    @media (min-width: 300px) and (max-width: 880px) {
      font-size: 14px;
      padding-right: 7px;
    }
  }
  a:hover {
    color: #41D3BD;
  }
}

.user-picture {
  font-size: 40px;
}
 .dropdown   p > a {
    color: black;
  }
