// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper-profil {
}
.list-inline {
  padding-left: 15px;
  margin-left: 0px;
}

.btn-section {
  display: flex;
  padding: 30px 10px 30px 10px;
  @media (min-width: 300px) and (max-width: 700px) {
    padding: 18px 0px 18px 10px;
  }
}

.btn-add {
  padding: 10px 10px 10px 10px;
}

.btn-profil {
  padding: 10px 10px 10px 10px;
}

.btn-override {
  color: #F8BA3F;
  border: 1px solid #F8BA3F;
  padding: 10px;
}


.btn-override:hover {
  background-color: #F8BA3F;
  color: white;
}

.btn-override-profil {
  color: #46CE90;
  border: 1px solid #46CE90;
  padding: 10px;
}


.btn-override-profil:hover {
  background-color: #46CE90;
  color: white;
}

.profil-store-content-edit {
  margin-bottom: 30px;
  @media (min-width: 300px) and (max-width: 700px) {
    display: flex;
    justify-content: space-around;
    padding: 0px 75px;
  }
  .fa {
    @media (min-width: 300px) and (max-width: 700px) {
      font-size: 30px;
    }
  }
  .fa {
    font-size: 20px;
  }
}

.profil-store-content-title {
  @media (min-width: 300px) and (max-width: 700px) {
    text-align: center;
  }
}
