// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.result-search-page {
  padding-bottom: 300px;
}

.page-search {
  padding-bottom: 200px;
  padding-top: 20px;
}

.cards-search {
  padding-top: 30px;
}
